* {margin:0;padding:0;outline:none;}

/* All */
html {height:100%;overflow-y:scroll;}
body {font:10pt Arial, sans-serif;color:#484848;height:100%;height:100%;background:#efefef url(img/fon.jpg) top center no-repeat;}
a {color:#474747;text-decoration:underline;outline:none;} 
a:hover {color:#d54700;text-decoration:underline;outline:none;}
h1, h2, h3, h4, h5, h6  {font-size:18pt;color:#2b2b2b;padding:0 0 15px 0;margin:0;font-weight:normal;margin:0;}
h1 {font-size:22pt;color:#d54700;}
p {margin:0 0 10px 0;padding:0;}
img {border:none;}
hr {height:1px;border:0px;background-color:#c4c4c4;margin:25px 0;} 
ul, ol {margin:5px 0 5px 25px;padding:0 0 15px 0;}
ul li, ol li  {padding:0 0 3px 0;}
input:focus::-webkit-input-placeholder {color:transparent;}
textarea:focus::-webkit-input-placeholder {color:transparent;}
 
.clear {clear:both;}
.required span, .error, .data-table span, .add_form span, .errortext, .required {color:#ff0000;}
.button, .button:hover, .authorize-submit-cell input, .bx-forgotpass-table tfoot  input, .bx-registration-table tfoot  input  {padding:7px 25px 7px 25px;text-decoration:none !important;color:#fff;font-size:11pt !important;background:url(img/button.png) top repeat-x;background-position:0 0;text-shadow:0 -1px 1px rgba(0,0,0,.3);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:inline-block;border:0;cursor:pointer;}


/* Header */ 
.header {width:100%;margin:0 auto;height:167px;} 
.logo  {float:left;margin:30px 0 0 0;}
.top_time {float:left;color:#626262;line-height:14pt;margin:25px 0 0 35px;width:205px;font-size:10pt;}
.top_time p:nth-child(2) {border-bottom:1px solid #bebebe;border-top:1px solid #bebebe;padding:5px 0;}
.top_auth {float:left;width:325px;margin:32px 15px 0 35px;color:#626262;font-size:10pt;}
.top_auth p:nth-child(1) {background:#fff;padding:13px 26px;margin:0 0 18px 0;display:inline-block;}
.top_auth p:nth-child(1) a {color:#24b1d1;text-decoration:underline;background:url(img/icons.png) no-repeat;padding:0 0 0 21px;background-position:0 -18px;}
.top_auth p a:nth-child(1) {margin:0 26px 0 0;background-position:0 1px;}
.top_auth span, .tel {font-size:14pt;color:#000000;}
.top_auth span {display:inline-block;vertical-align:top;}
.callback, .callback:hover {background:url(img/icons.png) no-repeat;background-position:0 -40px;padding:0 0 3px 21px;color:#24b1d1;margin:4px 0 0 15px;display:inline-block;vertical-align:top;}
.top_social {float:left;width:23px;margin:20px 30px 0 0;}
.top_social img {margin:0 0 13px 0;}
.top_basket {float:right;width:295px;min-height:150px;margin:0;background:url(img/basket.png) top no-repeat;}
.top_basket p {margin:10px 0 15px 20px;padding:0;font-size:11pt;}
.top_basket a {font-size:12pt;color:#fff;text-decoration:underline;}
.top_basket p:nth-child(1) {margin:30px 0 0 53px;}
.no_element p:nth-child(1) {font-size:10pt;}
.no_element p:nth-child(2) {margin:25px 0 0 30px;}

  

/* Top menu OLD */ 
.menu {width:1280px;height:46px;margin:0 auto;background:#e44c00 url(img/menu.gif) top repeat-x;}
.menu p {float:left;margin:0;padding:0;background:url(img/menu_start.png) top left no-repeat;height:36px;}
.menu p a {color:#fff;text-decoration:none;font-size:12pt;margin:12px 0 0 0;padding:0 14px 0 20px;background:url(img/header_menu.png) left no-repeat;display:inline-block;vertical-align:top;}
.menu p a:nth-child(1)  {background:none;padding:0 14px 0 43px;}
.menu p a:hover, .menu p a.selected  {color:#fcce2f;}
.menu p a.selected {text-decoration:underline;}




/* Top menu */
#jsddm {margin:0;padding:0;}
#jsddm li {float:left;list-style:none;margin:0;}
#jsddm li a {display:block;color:#fff;text-decoration:none;font-size:12pt;margin:12px 0 12px 0;padding:0 14px 0 20px;background:url(img/header_menu.png) left no-repeat;}
#jsddm li:hover a.root-item, #jsddm li a.selected {color:#fcce2f;background:url(img/header_menu.png) left no-repeat;text-decoration:none;} 
#jsddm li:nth-child(1) a  {background:none;padding:0 14px 0 30px;}
#jsddm li:nth-child(1) a.root-item {background:none;}
#jsddm li ul {margin:3px 0 0 0;padding:5px 0 15px 0;position:absolute;display:none;z-index:9999;min-width:170px;-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.41);-moz-box-shadow:2px 2px 5px 0px rgba(50, 50, 50, 0.41);box-shadow:2px 2px 5px 0px rgba(50, 50, 50, 0.41);border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;opacity:0.95;filter:alpha(opacity=95);-moz-opacity:0.95; 
background: rgb(227,183,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(227,183,0,1) 0%, rgba(227,140,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,183,0,1)), color-stop(100%,rgba(227,140,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(227,183,0,1) 0%,rgba(227,140,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(227,183,0,1) 0%,rgba(227,140,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(227,183,0,1) 0%,rgba(227,140,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(227,183,0,1) 0%,rgba(227,140,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3b700', endColorstr='#e38c00',GradientType=0 ); /* IE6-9 */  
}
#jsddm li ul li {float:none;display:inline;text-transform:none;margin:0;padding:0;}
#jsddm li ul li a, #jsddm li ul li:nth-child(1) a {width:auto;background:none;padding:10px 0;margin:0 20px;color:#fff;text-decoration:none;font-size:11pt;border-top:1px solid #fbd789;}
#jsddm li ul li:nth-child(1) a {border:0;padding:10px 0;margin:0 20px;}
#jsddm li ul li a:hover {color:#e04a00;text-decoration:none;} 
#jsddm li:hover ul ul,#jsddm li.jshover ul ul,#jsddm li:hover ul ul ul,#jsddm li.jshover ul ul ul,#jsddm li:hover ul ul ul ul,#jsddm li.jshover ul ul ul ul,#jsddm li:hover ul ul ul ul ul,#jsddm li.jshover ul ul ul ul ul{display:none;}
#jsddm li:hover ul,#jsddm li.jshover ul,#jsddm li li:hover ul,#jsddm li li.jshover ul,#jsddm li li li:hover ul,#jsddm li li li.jshover ul,#jsddm li li li li:hover ul,#jsddm li li li li.jshover ul,#jsddm li li li li li:hover ul,#jsddm li li li li li.jshover ul{display:block;}
 
.menu form {float:right;margin:8px 25px 0 0;background:#fff url(img/top_search.gif) bottom repeat-x;}
.forma_input {padding:5px 10px;color:#868686;border:0;background:none;width:120px;}
.forma_submit {border:0;background:url(img/icons.png) top no-repeat;background-position:12px -295px;width:19px;height:15px;padding:0 20px;cursor:pointer;}
.topmenu_fon {background:url(img/top_menu.png) top right no-repeat;height:30px;}



/* Return */ 
#callback {padding:20px 20px;}
#callback .head {font-size:18pt;color:#2b2b2b;padding:0 0 35px 0;margin:0;font-weight:normal;margin:0;text-align:center;} 
#callback .txt-fld {margin: 0 0 20px 0;}
#callback .txt-fld label { display: block; float: left; width:120px; padding-top: 8px; color: #222; font-size:12pt; text-align: left;  }
#callback .txt-fld textarea {height:80px;} 
#callback .txt-fld input, #callback .txt-fld textarea {width:244px;} 
#callback .form-left {margin:5px 0 0 0;}
#callback .btn-fld {float:left;margin:0 0 0 0;}	
#callback .button-fld {margin:0 0 0 120px;}
#callback .button-fld input {padding:5px 25px 25px 25px;height:20px;vertical-align:top;}


/* Footer */
#footer {padding:0;color:#474747;font-size:10pt;padding-top:50px;}
#footer a {color:#474747;}
#footer .footer_nav {text-align:center;border-bottom:1px solid #d7d7d7;margin:0 0 25px 0;padding:0 0 15px 0;}
#footer .footer_nav a {padding:0 16px;}
#footer .footer_nav a:hover, #footer .footer_nav a.selected {color:#d54700;text-decoration:underline;}
#footer .footer-developer {margin:20px 0 0 0;}
#footer .footer-developer a {color:#d54700;text-decoration:none;border-bottom:1px dashed #d54700;}
.footer_copy {float:left;margin:0 200px 30px 0;}
.footer_social {float:left;margin:-7px 0 0 120px;}
.footer_social a {display:inline-block;padding:0 0 0 10px;}
.footer_social a:nth-child(1), .footer_social a:nth-child(2) {vertical-align:top;padding:7px 15px 0 0;}
.footer_phone {float:right;}
.vcard {float:right;text-align:right;margin:0 0 35px 0;line-height:15pt;}
 
 

/* Etc */
#container {overflow:hidden;}
#left {display:inline-block;vertical-align:top;width:238px;margin:0 30px 0 0;}
#center {display:inline-block;vertical-align:top;margin:0;}
.feeback_button input {padding:5px 10px;}
.img_left {float:left;margin:0 15px 15px 0;}
.img_right {float:right;margin:0 0 15px 15px;}
.crumbs {margin:9px 20px 25px 0;font-size:9pt;color:#484848;}
.crumbs a {text-decoration:underline;font-weight:normal;color:#000;}
.crumbs span {margin:0 3px;font-weight:normal;color:#000;font-size:10pt;}
.menu, .topmenu_fon, #container, #footer {/*width:1280px;*/margin:0 auto;}
.menu, .menu form, #container, .top_auth p:nth-child(1), .main_clider, #images0 img, #images1 img, #images2 img, #images3 img, #images4 img, #images5 img, #images6 img, #images7 img, #images8 img, #images9 img, #images10 img, .main_new, .main_new div img, #thumbs0 img, #thumbs1 img, #thumbs2 img, #thumbs3 img, #thumbs4 img, #thumbs5 img, #thumbs6 img, #thumbs7 img, #thumbs8 img, #thumbs9 img, #thumbs10 img, .main_sale, .forma_subscribe, .forma_left_subscribe, .catalog_section_text, #top_filtr, .forma_left_subscribe_submit, .page_previous a, .catalog_previous  a, .faq_all a, .element, .element_need, .element_need img, .element_big_photo img, .modern-page-current, .one_page, .basket_tovar img, .basket_gift img, .compare td  img, .news img, .quick_search, .quick_search img, .photo_add, .photo_gal img, .social_network, .action_2014 .block_tovar img  {border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.sort {float:right;/*margin:-187px 0 0 0;*/}
.sort span {display:inline-block;background:#fff;padding:3px 8px 6px 8px;margin:0 0 0 10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.sort span a {padding:0 5px;color:#23afcc;text-decoration:none;}
.sort em {font-style:normal;border-bottom:1px dashed #23afcc;color:#23afcc;}
.sort .selected, .sort .selected em {color:#d54700;}
.sort .selected em {border-bottom:1px dashed #d54700;}
.heading  {font-size:14pt;color:#d54700;padding:10px 0;margin:0;font-weight:normal;}
.about {counter-reset:li;margin:5px 0 0 -30px;padding:0;}
.about > li {position:relative;margin:0 0 0 30px;padding:15px 0 25px 55px;list-style:none;background:url(img/ol_about.gif) top left no-repeat;display:inline-block;width:890px;vertical-align:top;line-height:10pt;}
.about > li:before {content:counter(li);counter-increment:li;display:inline-block;width:45px;height:20px;color:#d1490d;font-weight:bold;text-align:center;font-family:Trebuchet MS;font-size:18pt;padding:0 10px 0 0;margin:0 0 0 -55px;vertical-align:top;}
.delivery {padding:20px;border:2px dashed #f0b10c;box-shadow:0 0 0 2px #ffffff,inset 0 0 0 2px #ffffff;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.delivery span {background:url(img/delivery_car.png) top left no-repeat;margin:0;padding:0 0 0 60px;display:block;font-size:11pt;line-height:16pt;}
.delivery strong, .delivery em {font-size:13pt;}
.delivery_block {margin:10px 0 0 0;}
.delivery_block h3 {font-size:14pt;color:#d54700;padding:0 0 30px 0;margin:0;font-weight:bold;}
.delivery_block .block {width:420px;display:inline-block;vertical-align:top;padding:0 0 0 35px;}
.delivery_block .block:nth-child(1) {padding:0 40px 0 0;border-right:2px solid #e5e5e5;}
.delivery_block .block_1 {height:200px;}
.delivery_block ul {list-style:none;margin:5px 0 30px 0;padding:0;}
.delivery_block ul li {padding:5px 0 5px 15px;margin:0 0 5px 10px;background:url(img/header_menu.png) left 10px no-repeat;}
.delivery_block .head {font-weight:bold;font-size:11pt;}
.delivery_block .bold {color:#d54700;font-weight:bold;font-style:normal;}
#tabs-2 ul {list-style:none;margin:5px 0 0 0;padding:0;}
#tabs-2 ul li, .about_cat li, .li li {padding:7px 0 8px 40px;margin:0 0 5px 0;background:url(img/li.png) left 5px no-repeat;}
.qr_cod {float:right;text-align:center;}
.contacts_map {margin:40px 0 -65px -30px;}
.contacts_map .ymaps-map {border-radius:0 0 15px 15px;-moz-border-radius:0 0 15px 15px;-webkit-border-radius:0 0 15px 15px;}
.contacts {width:1000px;font-size:12pt;color:#484848;margin:20px 0 0 0;}
.contacts em {color:#000000;font-style:normal;display:inline-block;width:200px;}
.contacts p {border-bottom:1px solid #f0f0f0;padding:0 0 10px 0;}
.one_page {background:#fff;padding:30px 30px 10px 30px;margin:0 0 30px 0;}
.about_cat {float:right;margin:-40px 0 20px 50px;width:250px;list-style:none;}
.li {margin:0;list-style:none;}
.social_network {background:#fff;padding:30px;margin:0 0 30px 0;}
.social_vk, .social_fb, .social_twitter, .social_google {display:inline-block;vertical-align:top;width:200px;text-align:center;}
.social_google {margin:-2px 0 0 30px;}
.table {width:100%;border-collapse:collapse;color:#555555;margin:15px 0;border:1px solid #ececec;}
.table td {padding:15px;}  
.table tr {vertical-align:top;}  



/* Tabs */
.tabs_contacts {width:100%;line-height:normal;}
.tabs_contacts ul.tabs-list {margin:10px 0 0 0;padding:0;list-style:none;}
.tabs_contacts ul.tabs-list li {float:left;margin:0;padding:0 10px 0 0;font-size:12pt;}	
.tabs_contacts ul.tabs-list a {float:left;display:block;background:#e44c00 url(img/menu.gif) top repeat-x;border-radius:5px;padding:5px 15px 4px 15px;text-decoration:none;color:#fff;border:1px solid #cf1920;}
.tabs_contacts ul.tabs-list .current {background:none;margin:0;border-width:0;}
.tabs_contacts ul.tabs-list .current a, .tabs ul.tabs-list a:hover {background:none;color:#cf1920;}
.tabs_contacts ul.tabs-list .current a, .tabs ul.tabs-list .current:hover  a{background:none;color:#26b4da;border:1px solid #26b4da;}
.tabs_contacts ul.tabs-list a:hover {background:#e44c00 url(img/menu.gif) top repeat-x;color:#fcce2f;}
.js .tabs_contacts .current-info, .js .tabs_contacts .accessibletabsanchor, .js .tabs_contacts .tabhead  {position:absolute;left:-999em;}
.js .tabs_contacts .content {clear:both;margin:0;padding:0;margin:00;} 
.tabbody {padding:15px 0 0 0;}
 
 

/* AnythingSlider */
.anythingSlider-default {margin: 0 auto;padding:0;}
.anythingSlider-default .anythingControls a {color:#bfbfbf;font-weight:bold;}
.anythingSlider-default .anythingControls a span {visibility: visible;}
.anythingSlider-default .anythingControls a.cur {background:url(img/slider_button.png) top repeat-x;background-position:0 -33px;font-weight:bold;}
.anythingSlider-default .anythingControls a.start-stop {color: #ddd;}
.anythingSlider-default .anythingControls a.start-stop:hover, .anythingSlider-default .anythingControls a.start-stop.hover, .anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {background-image: none;} 
.anythingSlider-default .back {float:left;margin:3px 4px 0 0;}
.anythingSlider-default .back a, .anythingSlider-default .forward a {color:#a6a6a6;display:inline-block;width:75px;text-transform:uppercase;font-weight:normal;text-decoration:none;}
.anythingSlider-default .back a:hover, .anythingSlider-default .forward a:hover  {color:#d54700;text-decoration:none;}
.anythingSlider-default .forward {float:right;margin:3px 0 0 0;}
.anythingSlider-default .anythingControls {margin:-90px 0 0 0;position:absolute;right:40px;z-index:100;outline:0;display:none;width:785px;}
.anythingSlider-default .anythingControls ul { margin:0 auto;display:inline-block;padding: 0;text-align:center;width:605px;}
.anythingSlider-default .anythingControls ul li { display: inline; }
.anythingSlider-default .anythingControls ul a {background:url(img/slider_button.png) top repeat-x;background-position:0 0px;display:inline-block;text-decoration: none;height:30px;width:30px;margin: 0 9px;outline: 0;}
.anythingSlider-default .anythingControls .anythingNavWindow {overflow: hidden;float:left;}
.as-oldie .anythingSlider-default .arrow {top: 30%;}
.as-oldie .anythingSlider-default .arrow a {margin:0;}
.as-oldie .anythingSlider-default .anythingControls li {margin-left: 3px;}
.as-oldie .anythingSlider-default .anythingControls a {margin:0;}
.as-oldie .anythingSlider-default .anythingNavWindow {margin:0 2px;}
.as-oldie .anythingSlider-default .anythingNavWindow li {padding: 3px 0 0 0;}
.anythingSlider {display: block;overflow: visible !important;position: relative;}
.anythingSlider .anythingWindow {overflow: hidden;position: relative;width: 100%;height: 100%;}
.anythingSlider .anythingBase {background: transparent;list-style: none;position: absolute;overflow: visible !important;top: 0;left: 0;margin: 0;padding: 0;}
.anythingSlider .arrow span {display: block;visibility: hidden;}
.anythingSlider .arrow.disabled {display: none;}
.anythingSlider .panel {background: transparent;display: block;overflow: hidden;float: left;padding: 0;margin: 0;}
.anythingSlider .vertical .panel {float: none;}
.anythingSlider .fade .panel {float: none;position: absolute;top: 0;left: 0;z-index: 0;}
.anythingSlider .fade .activePage {z-index: 1;}



/* Slider Photo Left */
.main_clider {background:#fff;margin:0 0 30px 0;}
.slider_wrapper {width:365px;height: 381px; margin:5px 0 5px 5px;position:absolute;background:url(img/slider_img_shadow.png) bottom right no-repeat;float:left;}
.slider_wrapper img {display:block;float:left;}
a.thumbs {left:35px;}
#slider { width:1280px;height:415px;margin:0 auto;padding:20px;list-style:none;overflow-y:auto;overflow-x:hidden;}
#images0, #thumbs0, #images1, #thumbs1, #images2, #thumbs2, #images3, #thumbs3, #images4, #thumbs4, #images5, #thumbs5, #images6, #thumbs6, #images7, #thumbs7, #images8, #thumbs8, #images9, #thumbs9, #images10, #thumbs10 {float:left;overflow: hidden;}
#images0, #images1, #images2, #images3, #images4, #images5, #images6, #images7, #images8, #images9, #images10 {width:395px;height:365px;}
#thumbs0, #thumbs1, #thumbs2, #thumbs3, #thumbs4, #thumbs5, #thumbs6, #thumbs7, #thumbs8, #thumbs9, #thumbs10  {width:100px;height:350px;margin:25px 25px 0 0;}
#thumbs0 img, #thumbs1 img, #thumbs2 img, #thumbs3 img, #thumbs4 img, #thumbs5 img, #thumbs6 img, #thumbs7 img, #thumbs8 img, #thumbs9 img, #thumbs10 img {border:1px solid #efefef;margin: 0 30px 8px 0;cursor: pointer;display:block;}
#thumbs0 img.selected, #thumbs0 img:hover, #thumbs1 img.selected, #thumbs1 img:hover, #thumbs2 img.selected, #thumbs2 img:hover, #thumbs3 img.selected, #thumbs3 img:hover, #thumbs4 img.selected, #thumbs4 img:hover, #thumbs5 img.selected, #thumbs5 img:hover, #thumbs6 img.selected, #thumbs6 img:hover, #thumbs7 img.selected, #thumbs7 img:hover, #thumbs8 img.selected, #thumbs8 img:hover, #thumbs9 img.selected, #thumbs9 img:hover, #thumbs10 img.selected, #thumbs10 img:hover {border-color:#888888;}
#thumbs0 div, #thumbs1 div, #thumbs3 div, #thumbs4 div, #thumbs5 div, #thumbs6 div, #thumbs7 div, #thumbs8 div, #thumbs9 div, #thumbs10 div  {width:105px;height:350px;float:left;}
#prev0 a, #next0 a, #prev1 a, #next1 a, #prev2 a, #next2 a, #prev3 a, #next3 a, #prev4 a, #next4 a, #prev5 a, #next5 a, #prev6 a, #next6 a, #prev7 a, #next7 a, #prev8 a, #next8 a, #prev9 a, #next9 a, #prev10 a, #next10 a {text-decoration:none;position:absolute;}
#prev0 a.disabled, #prev1 a.disabled, #prev2 a.disabled, #prev3 a.disabled, #prev4 a.disabled , #prev5 a.disabled, #prev6 a.disabled, #prev7 a.disabled , #prev8 a.disabled, #prev9 a.disabled, #prev10 a.disabled {background:url(img/slider_nav.png) left no-repeat;background-position:35px 0;}
#next0 a.disabled, #next1 a.disabled, #next2 a.disabled, #next3 a.disabled, #next4 a.disabled, #next5 a.disabled, #next6 a.disabled, #next7 a.disabled, #next8 a.disabled, #next9 a.disabled, #next10 a.disabled {background:url(img/slider_nav.png) left no-repeat;background-position:35px -28px;}
#prev0 a, #prev1 a, #prev2 a, #prev3 a, #prev4 a, #prev5 a, #prev6 a, #prev7 a, #prev8 a, #prev9 a, #prev10 a {top:0px;width:101px;background:#fff url(img/slider_nav.png) left no-repeat;background-position:35px -49px;}
#next0 a, #next1 a, #next2 a, #next3 a, #next4 a, #next5 a, #next6 a, #next7 a, #next8 a, #next9 a, #next10 a {width:101px;left:0px;bottom:5px;background:#fff url(img/slider_nav.png) left no-repeat;background-position:35px -75px;}

 
 
 
 
/* Slider Text Right */
.slider_info {float:right;width:795px;margin:0 60px 0 0;padding:0 0 25px 0;border-bottom:1px solid #e5e5e5;}
.slider_info_name {margin:5px 0 35px 0;}
.slider_info_name a {font-size:26pt;color:#23afcc;text-decoration:underline;display:inline-block;width:795px;white-space:nowrap;overflow: hidden;position: relative;}
.slider_info_name i {background:url(img/right_gr.png) right repeat-y;position: absolute;display:block;height:40px;width:795px;padding:0;}
.slider_set, .slider_price {display:inline-block;vertical-align:top;}
.slider_set {width:450px;font-size:10pt;}
.slider_price {width:200px;float:right;}
.slider_price p {margin:0 0 10px 0;}
.slider_price p:nth-child(1), .slider_set p:nth-child(1) {text-transform:uppercase;color:#000;font-size:11pt;font-weight:bold;}
.slider_price em {display:block;text-transform:uppercase;color:#6a6a6a;font-style:normal;font-size:12pt}
.slider_price em span {color:#ff6c6c;display:block;font-weight:normal;font-size:16pt;text-decoration:line-through;margin:-5px 0 0 0;}
.slider_price span {color:#edb60e;font-size:24pt;display:block;margin:0 0 15px 0;}
.slider_price p a, .slider_price p a:hover, .main_more, .main_by, .main_by:hover, .button_on, .button_on:hover, .button_off, .button_off:hover {padding:5px 25px 5px 25px;height:20px;text-decoration:none !important;color:#fff;font-size:11pt !important;background:url(img/button.png) top repeat-x;background-position:0 -69px;text-shadow:0 -1px 1px rgba(0,0,0,.3);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;text-align:center;}
.slider_price p:nth-child(3) a, .main_more, .main_more:hover, .button_on, .button_on:hover {background:url(img/button.png) top repeat-x;background-position:0 -34px;color:#fff;}
.slider_set p:nth-child(1) {margin:0 0 20px 0;border:0;} 
.slider_set p {margin:0;padding:2px 0;border-bottom:1px solid #f3f3f3;color:#000;}
.slider_set span {float:right;color:#6a6a6a;}
.slider_set input {margin:10px 5px 0 0;}
.slider_set label em, .main_new div div label span {color:#23afcc;border-bottom:1px dashed #23afcc;padding:0 0 2px 0;cursor:pointer;font-style:normal;}
.rating_1, .rating_2, .rating_3, .rating_4, .rating_5 {background:url(img/rating.png) top repeat-x;display:inline-block;float:right;width:68px;height:12px;}
.rating_1 {background-position:0 -54px;}
.rating_2 {background-position:0 -40px;}
.rating_3 {background-position:0 -27px;}
.rating_4 {background-position:0 -14px;}
.rating_5 {background-position:0 0px;}





/* Left */
#left_more  a, #left_more  span {color:#fff;border-bottom:1px dashed #fff;text-decoration:none;cursor:pointer;display:inline-block;text-align:center;}
#left_more {width:238px;height:28px;display:inline-block;}
#left_more  p {padding:5px 0 0 0;height:38px;margin:0;background:url(img/icons.png) top no-repeat;background-position:0 -400px;text-align:center;cursor:pointer;}
#left_more  p.skr {background:url(img/icons.png) top no-repeat;background-position:0 -465px;width:238px;cursor:pointer;}
.left_block {background:url(img/icons.png) top no-repeat;background-position:0 -531px;margin:0 0 30px 0;padding:0;width:234px;}
.left_block_more {background:#fff url(img/left_fon_1.gif) top repeat-x;margin:0;padding:20px 0 10px 0;}
.left_block p {margin:0;padding:0 30px 15px 30px;color:#9f9f9f;}
.left_block p a {text-decoration:none;color:#484848;}
.left_block p a:hover, .left_block p.selected a, .left_block_type p a:hover, .left_block_type p.selected a {text-decoration:underline;color:#d54700;}
.left_block p.selected, .left_block_type p.selected  {background:url(img/icons.png) top no-repeat;background-position:0 -331px;}
.left_block .head {color:#fff;display:inline-block;margin:20px 5px 0 14px;padding:0 0 10px 30px;font-size:12pt;background:url(img/icons.png) top no-repeat;background-position:0 -363px;text-shadow:0 -1px 1px rgba(0,0,0,.3);}
.left_block_none {display:none;}
.left_block_more span {float:right;}
 
.left_compare {margin:0 0 20px 0;padding:0 0 25px 0;background:url(img/left_footer.png) bottom no-repeat;}
.left_compare .head {background:url(img/icons.png) top no-repeat;background-position:0 -618px;}
.left_compare .head p {color:#fff;display:inline-block;margin:20px 5px 0 14px;padding:0 0 0 30px;font-size:12pt;background:url(img/icons.png) top no-repeat;background-position:0 -700px;height:33px;}
.left_block_compare {margin:0;padding:16px 0 10px 18px;width:216px;background:#fff url(img/left_fon_1.gif) top repeat-x;}
.left_block_compare p {margin:0 0 18px 0;}
.left_block_compare p img {display:inline-block;vertical-align:top;width:50px;}
.left_block_compare p span {display:inline-block;margin:2px 10px 0 15px;vertical-align:top;width:100px;text-decoration:underline;}
.left_block_compare p a {color:#23afcc;}
.left_block_compare .main_by {margin:5px 0 0 15px;}
.left_block_compare .del {display:block;width:16px;height:16px;display:inline-block;padding:20px 0 0 0;margin:15px 0 0 0;background:url(img/cross.png) no-repeat;}

.left_video {margin:0 0 30px 0;width:234px;}
.left_video .head {color:#000000;font-size:12pt;margin:0 0 10px 0;}
.left_video .head a {float:right;color:#23afcc;text-decoration:underline;font-size:10pt;margin:2px 0 0 0;}
.left_img_youtube {margin:-2px 0 0 0;display:block;}
.left_link_video {background:url(img/youtube_play.png) top no-repeat;opacity:0.75;filter:alpha(opacity=75);}
.left_img_video {border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border:1px solid #353122;border-bottom:0;border-top:0;display:block;}
.left_link_play {display:inline-block;width:234px;height:149px;position:absolute;}

.left_type{margin:0 0 20px 0;padding:0 0 25px 0;background:url(img/left_footer.png) bottom no-repeat;}
.left_type .head {background:url(img/icons.png) top no-repeat;background-position:0 -531px;}
.left_type .head p {color:#fff;display:inline-block;margin:20px 5px 0 14px;padding:0 0 0 30px;font-size:12pt;background:url(img/icons.png) top no-repeat;background-position:0 -700px;height:33px;}
.left_type .acc_icons  p {background:url(img/icons.png) top no-repeat;background-position:0 -752px;}
.left_type .pr_icons  p {background:url(img/icons.png) top no-repeat;background-position:0 -811px;}
.left_type .vid_icons  p {background:url(img/icons.png) top no-repeat;background-position:0 -865px;}
.left_type .news  p {background:url(img/icons.png) top no-repeat;background-position:0 -1633px;}
.left_type .left_news p {color:#484848;margin:10px 0 5px -20px;}
.left_type .left_news p a {color:#d54700;text-decoration:underline;}
.left_type .left_news .all {color:#585858;margin:20px 0 0 -20px;}
.left_type .left_news .all a {color:#585858;text-decoration:underline;}
.left_block_type {margin:0;padding:16px 0 10px 0;width:234px;background:#fff url(img/left_fon_1.gif) top repeat-x;}
.left_block_type p {margin:6px 0;padding:0 15px 5px 38px;color:#9f9f9f;}  
.left_block_type p a {text-decoration:none;color:#484848;}

.left_sale {width:234px;padding:25px 0 0 0;background:#fff url(img/left_fon_2.gif) top repeat-x;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.left_sale_pay, .left_sale_dostavka {display:inline-block;vertical-align:top;margin:0 0 15px 0;width:165px;padding:0 0 0 60px;}
.left_sale_pay p, .left_sale_dostavka p {margin:0;padding:0;line-height:14pt;}
.left_sale_pay p:nth-child(1), .left_sale_dostavka p:nth-child(1) {padding:0 0 7px 0;}
.left_sale_pay a, .left_sale_dostavka a {color:#23afcc;text-decoration:underline;font-size:12pt;}
.left_sale_pay {margin:0 60px 0 0;background:url(img/icons.png) top no-repeat;background-position:15px -926px;margin:0 0 20px 0;}
.left_sale_dostavka{background:url(img/icons.png) top no-repeat;background-position:-205px -926px;}
.left_sale_bottom {background:url(img/left_footer.png) bottom right no-repeat;width:239px;display:block;height:25px;margin:0 0 30px 0;}

.left_subscribe {background:#fcd777 url(img/left_fon_3.gif) top repeat-x;width:233px;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.left_subscribe_bottom {background:url(img/left_footer1.png) bottom right no-repeat;width:233px;display:block;height:16px;margin:0 0 30px 0;}
.left_subscribe p {color:#5b4200;text-transform:uppercase;padding:30px 20px 20px 20px;text-align:center;margin:0;font-size:11pt;}
.forma_left_subscribe  {padding:5px 10px;color:#000;border:1px solid #d8b969;background:none;text-align:center;width:180px;background:#fff url(img/left_search.gif) top repeat-x;margin:0 0 15px 15px;}
.forma_left_subscribe_submit, .forma_left_subscribe_submit:focus {border:1px solid #b89e59;color:#fff;margin:0 auto;display:block;margin-bottom:20px;background:#de5802;padding:5px 10px;cursor:pointer;}

 


/* Quick search
------------------------------ */
.quick_search {position:absolute;top:0;margin:235px 0 0 926px;width:350px;background:#fff;z-index:1;border:2px solid #c74200;z-index:99999;}
.quick_search .quick_search_tab div {margin:20px;padding:20px 0 0 0;border-top:1px solid #e5e5e5;}
.quick_search .quick_search_tab div:nth-child(1) {border:0;padding:0;}
.quick_search .quick_search_tab div div {display:inline-block;margin:0;padding:0;vertical-align:top;border:0;}
.quick_search .quick_search_tab div div:nth-child(1) {width:110px;margin:0 14px 0 0;}
.quick_search .quick_search_tab div div:nth-child(2) {width:180px;}
.quick_search .quick_search_tab div div p {margin:0 0 5px 0;}
.quick_search .quick_search_tab div div p:nth-child(1) a {font-size:12pt;color:#23afcc;}
.quick_search .quick_search_tab div div p:nth-child(3) {width:150px;} 
.quick_search .quick_search_tab div div .main_by {margin:10px 0 0 0;} 
.quick_search .more {margin:30px 0;text-align:center;font-size:16pt;color:#d54700;}
.quick_search .more a {color:#d54700;border-bottom:1px dashed #d54700;font-size:12pt;text-decoration:none;}



/* Main page */
.main_action {background:url(img/action.png) top repeat-x;display:block;width:1012px;height:167px;margin:0 0 20px 0;font:12pt Georgia, sans-serif;color:#006378;font-style:italic;}
.main_action div {display:inline-block;vertical-align:top;width:425px;margin:0 0 0 50px;}
.main_action div:nth-child(1) p:nth-child(1) {padding:23px 0 0 55px;color:#fff;font-weight:bold;font-size:18pt;margin:0 0 15px 0;}
.main_action div:nth-child(1) p  strong {font-size:22pt;}
.main_action div:nth-child(1) p a {font-size:14pt;background:url(img/str_1.png) bottom right no-repeat;padding:0 35px 0 0;color:#880000;}
.main_action div:nth-child(2) p:nth-child(1) {padding:50px 0 0 20px;color:#423000;font-size:18pt;}
.main_action div:nth-child(2) p:nth-child(2) {padding:0 0 0 20px;color:#423000;font-weight:bold;font-size:19pt;}
.main_action div:nth-child(2) span {background:url(img/icons.png) top no-repeat;background-position:0 -68px;width:78px;height:35px;padding:2px 0 0 0;margin:0 0 0 5px0;color:#fff;display:inline-block;text-align:center;}
.main_action_photo {margin:0 0 20px 0;}
.main_action_photo a:nth-child(1)  {margin:0 25px 0 0;}

.main_new {background:#fff;padding:15px 5px 10px 5px;margin:0 0 15px 0;}
.main_new .subsection {padding: 0 0 0 15px; margin:0 0 5px; width:1008px}
/*.main_new .subsection a {text-decoration: none; color: #484848;}
.main_new .subsection a:hover {text-decoration: none; color: #d54700;}*/
.main_new h1, .main_new h2, .main_new .head, .element_need .head {margin:0 0 20px 30px;padding:0;font-size:18pt;color:#2b2b2b;}
.main_new h2 {float:left;}
.main_new_right {float:right;margin:10px 25px 0 0;}
.main_new_right a {color:#23afcc;font-size:11pt;background:url(img/str_2.png) bottom right no-repeat;padding:0 35px 0 0;text-decoration:underline;}
.main_sale_left {float:left;}
.main_sale_left a {padding:5px 25px 5px 25px;height:20px;text-decoration:none !important;color:#fff;font-size:11pt !important;background:url(img/button.png) top repeat-x;background-position:0 -151px;text-shadow:0 -1px 1px rgba(0,0,0,.3);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;text-align:center;margin:-1px 0 0 25px;}

.main_new div {display:inline-block;vertical-align:top;width:285px;margin:15px 16px 0 30px;}
.main_new div div  {display:inline-block;vertical-align:top;margin:0;color:#484848;}
.main_new div div:nth-child(1)  {display:inline-block;vertical-align:top;width:120px;margin:0 20px 0 0;}
.main_new div div:nth-child(2)  {display:inline-block;vertical-align:top;width:140px;}
.main_new div div p {margin:0 0 6px 0;}
.main_new div div p:nth-child(1) a, .compare .name a  {color:#23afcc;font-size:12pt;text-decoration:underline;display:inline-block;margin:0 0 5px 0;width:140px;white-space:nowrap;overflow: hidden;position: relative;}
.main_new div div p i {background: url(img/right_gr.png) right repeat-y;position: absolute;display: block; height: 21px; width:140px;padding:0;}
.main_new div div label {margin:10px 0 0 0;display:block;}
.main_more, .main_more:hover {width:70px;display:inline-block;margin:0 20px 0 0;}
.main_by, .main_by:hover {width:90px;display:inline-block;}
.main_new div .main_price {margin:14px 0 12px 0;}
.main_new div .main_price em {width:120px;display:inline-block;text-align:right;margin:0 16px 0 0;font-style:normal;}
.main_new div .main_price em span {color:#ff6c6c;width:80px;display:inline-block;font-weight:normal;font-size:10pt;text-decoration:line-through;}
.main_new div .main_price span, .quick_search span {color:#e4ac00;font-weight:bold;font-size:12pt;width:134px;display:inline-block;}
.main_by_none, .main_by_none:hover {padding:5px 15px 5px 15px;height:20px;text-decoration:none !important;color:#fff;font-size:11pt !important;background:url(img/button.png) top repeat-x;background-position:0 -69px;text-shadow:0 -1px 1px rgba(0,0,0,.3);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;text-align:center;width:110px;display:inline-block;-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.main_new_all a {border-bottom:1px dashed #e24b00;color:#e24b00;text-decoration:none;margin:0 0 0 30px;font-size:12pt;}

.main_sale {background:#fff;padding:30px;margin:0 0 30px 0;}
.main_sale_pay, .main_sale_dostavka {display:inline-block;vertical-align:top;margin:0 0 15px 0;}
.main_sale_pay p, .main_sale_dostavka p {margin:0;padding:0;}
.main_sale_pay p:nth-child(1), .main_sale_dostavka p:nth-child(1) {padding:0 0 10px 0;}
.main_sale_pay a, .main_sale_dostavka a {color:#23afcc;text-decoration:underline;font-size:16pt;}
.main_sale_pay {margin:0 30px 0 0;background:url(img/icons.png) top no-repeat;background-position:0 -1300px;padding:0 0 0 60px;width:380px;}
.main_sale_dostavka{background:url(img/icons.png) top no-repeat;background-position:0 -1472px;padding:0 0 0 70px;width:390px;}
.main_sale_faq div {display:inline-block;vertical-align:top;width:440px;}
.main_sale_faq div:nth-child(1) {margin:0 60px 0 0;}
.main_sale_faq a {color:#23afcc;text-decoration:underline;}
.main_sale_faq span {color:#23afcc;font-weight:bold;}

.accordion {margin:20px 0 0 0;}
.accordion h2 {margin:20px 0;padding:0;color:#23afcc;cursor: pointer;text-transform:none;font-size:10pt;border-bottom:1px dashed #fff;display: inline;}
.accordion h2:hover {color:#23afcc;border-bottom:1px dashed #23afcc;}
.accordion div.active h2 {color:#d54700;font-size:18pt;margin:0;border:0;}
.accordion div {margin:15px 0 0 0;}
.accordion div.active {margin:20px 0;padding:0 0 0 215px;background:url(img/main_faq.jpg) top left no-repeat;}
.accordion div p {margin:15px 0;}

.accordion1 {margin:20px 0 0 0;}
.accordion1 h2 {margin:20px 0;padding:0;color:#23afcc;cursor: pointer;text-transform:none;font-size:10pt;border-bottom:1px dashed #fff;display: inline;}
.accordion1 h2:hover {color:#23afcc;border-bottom:1px dashed #23afcc;}
.accordion1 div.active h2 {color:#d54700;font-size:18pt;margin:0;border:0;}
.accordion1 div {margin:15px 0 0 0;}
.accordion1 div.active {margin:20px 0;padding:0 0 0 215px;background:url(img/main_faq.jpg) top left no-repeat;}
.accordion1 div span {margin:15px 0;}
.accordion1 ul li {
    padding: 5px 0 5px 15px;
    margin: 0 0 5px 10px;
    background: url(img/header_menu.png) left 10px no-repeat;
}
.accordion1 ul {
    list-style: none;
    margin: 5px 0 30px 0;
    padding: 0;
}
 
.main_subscribe {background:#d54700 url(img/main_subscribe.gif) top repeat-x;margin:-40px 0 0 0;padding:15px;border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;}
.main_subscribe div {display:inline-block;vertical-align:top;color:#fff;font-size:16pt;}
.main_subscribe div:nth-child(1) {margin:0 60px 0 135px;}
.forma_subscribe {padding:5px 10px;color:#868686;border:0;float:left;background:none;width:180px;background:#fff url(img/top_search.gif) bottom repeat-x;margin:0 0 0 15px;}
.forma_subscribe:nth-child(1) {width:140px;}
.forma_subscribe_submit {border:0;background:url(img/icons.png) top no-repeat;background-position:0 -259px;width:15px;height:18px;padding:0;cursor:pointer;margin:4px 0 0 -21px;float:left;}
 
 
 
/* Catalog Section */
.catalog_section_text {background:#fff;padding:30px;margin:0 0 30px 0;}
.catalog_section_text ol li {padding:7px 0 8px 0;margin:0 0 10px 0;}
.catalog_previous {clear:both;text-align:right;margin:0px 25px 30px 0;}
.page_previous {clear:both;text-align:right;margin:10px 0 20px 0;}
.page_previous a, .catalog_previous a {display:inline-block;color:#636363;padding:5px 10px;margin:0 0 0 5px;background:#eeeeee;text-decoration:none;}
.page_previous a:hover, .page_previous a.selected, .catalog_previous a:hover, .catalog_previous a.selected, .modern-page-current  {color:#fff;background:#ebaf00;text-decoration:none;}
.modern-page-current {padding:5px 10px;margin:0 0 0 5px;}
.catalog_previous .modern-page-all, .catalog_previous .modern-page-all:hover {background:#da4800;color:#fff;}



/* Articles */
.article div {border-bottom:2px solid #e5e5e5;margin:0 0 30px 0;}
.article p:nth-child(1) a {font-size:12pt;color:#d54700;padding:10px 0;margin:0;font-weight:normal;text-decoration:none;}
.article_more {text-align:center;padding:0;margin:20px 0 3px 0;} 
.article_more em {display:block;margin:-10px 0 0 0;font-style:normal;}
.article_more em span {border-bottom:1px dashed #23afcc;border-top:0;}
.article_more span {border-top:1px solid #e5e5e5;display:block;}
.article_more a {display:inline-block;padding:0 25px 0 10px;color:#23afcc;text-decoration:none;background:#fff url(img/icons.png) no-repeat;background-position:120px -1068px;}
.article_more a.turn {background-position:69px -1110px;}
.rubric {margin:0 0 30px 0;padding:0;list-style:none;border-bottom:2px solid #e5e5e5;}
.rubric li {display:inline-block;padding:0;background:#c5c5c5 url(img/tabs1.png) top repeat-x;height:35px;margin:0 1px 0 0;vertical-align:top;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.rubric li a {text-decoration:none;color:#4c4c4c;display:inline-block;padding:10px 20px 10px 20px;}
.rubric li.selected {background-position:0 -56px;}
.rubric li.selected a {color:#fff;}
.faq_all {margin:15px 0;display:inline-block;}
.faq_all a {background:#eeeeee url(img/icons.png) no-repeat;background-position:10px -1190px;margin:0 15px 0 0;padding:7px 15px 9px 35px;color:#23afcc;text-decoration:none;}
.faq_all a:nth-child(1) {background-position:10px -1147px;}
.faq_all span {border-bottom:1px dashed #23afcc;border-top:0;}
.faq_page {float:right;display:inline-block;}
.faq {margin:20px 0 0 0;}


/* News */
.news {margin:20px 0 0 0;}
.news div {margin:5px 0;}
.news p.name a {font-size:12pt;color:#23afcc;padding:10px 0;margin:0;font-weight:normal;text-decoration:underline;}
.news p span {display:block;margin:5px 0 0 0;color:#000;}
.news img {float:left;margin:0 25px 45px 0;}
.news hr {clear:both;}
.news .news_more {color:#d54700;font-size:10pt;font-style:normal;} 
.news .news_more a {color:#d54700;font-size:10pt;} 
.news_prew {border-bottom:1px solid #cccccc;margin:0 0 15px 0;padding:0 0 15px 0;color:#000;}
.news_data {margin:0 0 5px 0;color:#d54700;}
.news_app {margin:30px 0 0 -25px;padding:0;list-style:none;} 
.news_app li {margin:0 0 40px 25px !important;padding:0;display:inline-block;width:280px;} 
.news_app li span {display:block;color:#000;margin:0 0 20px 0;font-weight:bold;}
.news_app_android {font-size:12pt;background:url(img/for_site/down_android.png) top left no-repeat;}
.news_app_android a {padding:15px 0 35px 210px;margin:35px 0 25px 0;display:block;}
.news_app_ios {font-size:12pt;background:url(img/for_site/down_ios.png) top left no-repeat;}
.news_app_ios a {padding:15px 0 35px 180px;margin:35px 0 25px 0;display:block;}
.news_vk {font-size:12pt;background:url(img/for_site/down_vk.png) top left no-repeat;}
.news_vk a {padding:20px 0 35px 90px;margin:35px 0 25px 0;display:block;}

 
/* Element */
.element {background:#fff;padding:30px;margin:0 0 30px 0;}
.element_text {margin:20px 0 0 0;}
.element_text p:nth-child(1) {padding:15px 0 0;font-size:14pt;color:#d54700;}
.element_need  {padding:25px 20px 0 20px;margin:20px 0;background:#fff;} 
.element_need  div {font-size:12pt;color:#d54700;margin:15px 0 0 0;display:inline-block;vertical-align:top;width:32%;}
.element_need img {float:left;margin:0 22px 22px 0;}
.element_need a {color:#23afcc;}
.element_need span {color:#e4ac00;font-weight:bold;font-size:12pt;display:block;margin:20px 0 0 0;}
.element_big_photo {vertical-align:top;display:inline-block;width:445px;margin:10px 29px 0 0;}
.element_big_photo span {width:34px;height:34px;background:url(img/element_photo.png) no-repeat;position:absolute;margin:25px 0 0 25px;}
.element_big_photo .kak {display:block;margin:10px 0 0 0;color:#23afcc;}
.element_anons {vertical-align:top;display:inline-block;width:466px;margin:10px 0 0 0;}
.element_anons .slider_set p:nth-child(1) {text-transform:none;margin:0;padding:2px 0;border-bottom:1px solid #f3f3f3;color:#000;font-size:10pt;font-weight:normal;}
.element_anons .main_price {margin:0 0 15px 0;}
.element_anons .main_price em {display:block;text-transform:uppercase;color:#6a6a6a;font-style:normal;font-size:12pt}
.element_anons .main_price em span {color:#ff6c6c;display:block;font-weight:normal;font-size:16pt;text-decoration:line-through;}
.element_anons .main_price span {color:#000000;font-weight:bold;display:block;margin:5px 0 0 0;font-size:26pt;display:inline-block;}
.element_allbutton {float:right;padding:2px 0 0 0;}
.element_button a, .element_button a:hover {width:180px;}
.element_action {background:url(img/action_element.png) top left no-repeat;display:block;width:466px;height:91px;}
.element_action p {padding:35px 0 0 20px;font:14pt Georgia, sans-serif;color:#006378;font-style:italic;}
.element_action p span {font-weight:bold;font-size:20pt;}
.element_stock {margin:0 0 20px 0;color:#484848;}
.element_stock p {margin:0 0 5px 0;}
.element_stock p:nth-child(1) {color:#000;}
.element_stock p span {font-weight:bold;display:block;}
.element_stock p span.yes {color:#006600;font-weight:normal;}
.element_stock p span.no {color:#ff0000;font-weight:normal;}
.element_click {padding:5px 0 0 0;}
.element_click a {width:180px;}
.element_send a {margin:10px 0 0 0;padding:0 0 10px 25px;font-size:10pt;background:url(img/icons.png) top no-repeat;background-position:0 -1732px;}


 
/* tabs */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tabs { position: relative;margin:0 0 30px 0;}  
.ui-tabs .ui-tabs-nav { margin:0 0 22px 0;padding:0;list-style:none;border-bottom:2px solid #e5e5e5;}
.ui-tabs .ui-tabs-nav li {display:inline-block;padding:0;background:#c5c5c5 url(img/tabs1.png) top repeat-x;height:35px;margin:0 1px 0 0;vertical-align:top;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.ui-tabs .ui-tabs-nav li a {text-decoration:none;color:#4c4c4c;display:inline-block;padding:10px 20px 10px 20px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {background-position:0 -56px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {color:#fff;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; }  
 
 
/* Personal */
.personal_index {width:800px;margin:0 auto;}
.personal_index div {display:inline-block;vertical-align:top;width:390px;}
.personal_index div h2 {font-size:18pt;color:#d54700;margin:20px 0 0 0;}
.personal_index ul li {margin:0 0 10px 0;}
.personal_index ul li a {color:#24b1d1;}
.personal_table td:nth-child(1) {width:300px;}
.personal_left, .personal_right {display:inline-block;vertical-align:top;}
.personal_left {width:250px;}
.personal_right {width:850px;padding:0 0 0 50px;border-left:1px solid #e5e5e5;}
.personal_right  h2 {font-size:18pt;color:#d54700;margin:0;}
.personal_menu li {font-size:10pt;margin:0 0 15px 0;}
.personal_menu li a {color:#24b1d1;text-decoration:none;border-bottom:1px dashed #24b1d1;font-weight:bold;}
.personal_menu li.selected a {color:#000;text-decoration:none;border:0;}


 
/* System */
#notice_form {padding:40px 20px;}
#notice_form .bx-auth-input {width:200px;}
#notice_form  p {margin:0 0 20px 0;}
.data-table td {padding:5px 0;}
.add_form td {padding:5px 10px;}
.add_button {margin:20px 0 10px 10px;}
.bx-auth-input, .bx-forgotpass-table tbody  input, .bx-registration-table tbody  input, .data-table  tbody  input, .step_form input, .textarea, #callback .txt-fld input, #callback .txt-fld textarea, .sostav  table td textarea, .add_form input, .add_form textarea, .one_add_text textarea, .delivery_block input {border:1px solid #d5d5d5;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:5px 10px;box-shadow:inset 2px 0 11px 0 #d5d5d5;background:#fff;color:#252525;text-align:left;font:10pt Arial, sans-serif;resize: none;}
.step_form .error_input {box-shadow:0 0 5px 0 #ff0000;}
.bx-auth-input:focus, .bx-forgotpass-table tbody  input:focus, .bx-registration-table tbody  input:focus, .data-table  tbody  input:focus, .step_form input:focus, #callback .txt-fld input:focus, #callback .txt-fld textarea:focus, .sostav  table td textarea:focus, .add_form input:focus, .add_form textarea:focus, .one_add_text textarea:focus, .textarea:focus, .delivery_block input:focus {box-shadow:0 0 5px 0 #00a9e3;}
.add_form input, .add_form textarea, .one_add_text textarea {width:300px;}
 


 
/* Basket */
.basket {margin:0 0 30px 0;}
.basket hr {height:1px;border:0px;background-color:#cccccc;margin:15px 0;} 
.basket_head {font-size:11pt;font-weight:bold;margin:15px 0 0 0;}
.basket_head div {display:inline-block;vertical-align:top;text-align:center;padding:0;}
.basket_tovar div, .basket_gift div {display:inline-block;vertical-align:top;padding:0;}
.basket_head .del, .basket_tovar .del {width:65px;text-align:left;}
.basket_head .name, .basket_tovar .name {width:720px;}
.basket_head .amt, .basket_tovar .amt, .basket_head .price, .basket_tovar .price, .basket_gift .amt, .basket_gift .price {width:180px;}
.basket_tovar .del a  {width:16px;height:16px;display:inline-block;padding:0;background:url(img/cross.png) no-repeat;margin:0 0 0 3px;}
.basket_head .del a  {width:24px;height:24px;display:inline-block;padding:0;background:url(img/delete.png) no-repeat;-moz-opacity: 0.5;opacity: 0.5;}
.basket_head .del a:hover  {-moz-opacity: 1;opacity: 1;}
.basket_tovar .name img {float:left;margin:0 15px 0 0;} 
.basket_tovar .name a {font-size:14pt;color:#23afcc;}
.basket_tovar .name span {display:block;color:#6a6a6a;margin:5px 0 0 0;}
.basket_tovar .amt {border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;height:80px;text-align:center;}
.basket_tovar .amt input {width:45px;padding:2px 5px;background:#fff;color:#000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #e0e0e0;text-align:center;font-size:11pt;margin:10px 5px 0 5px;display:inline-block;float:left;font-weight:bold;box-shadow:inset 2px 0 11px 0 #d5d5d5;}
.basket_tovar .amt .minus {color:#fff;background:#d1d1d1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;width:24px;height:23px;display:inline-block;text-decoration:none;font-size:12pt;font-size:bold;margin:10px 0 0 25px;float:left;padding:1px 0 0 0;}
.basket_tovar .amt .plus {color:#fff;background:#80b058;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;width:24px;height:21px;display:inline-block;text-decoration:none;font-size:12pt;font-size:bold;float:left;margin:10px 0 0 0;padding:3px 0 0 0;}
.basket_tovar .price span {display:block;padding:0 0 5px 35px;}  
.basket_tovar .price span:nth-child(1) {font-size:16pt;color:#000000;font-weight:normal;padding:10px 0 5px 35px;}
.basket_tovar .price span:nth-child(2) {color:#bcbcbc;display:inline-block;font-weight:normal;font-size:12pt;text-decoration:line-through;}
.basket_tovar .price span:nth-child(3) {color:#ebaf00;display:inline-block;font-weight:normal;font-size:12pt;}
.basket_gift .del {width:85px;}
.basket_gift .name {width:700px;}
.basket_gift .del span {display:block;color:#edb60e;margin:5px 0 0 0;font-size:22pt;}
.basket_gift .amt {border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;height:50px;text-align:center;padding:30px 0 0 0;font-size:11pt;font-weight:bold;}
.basket_gift .name img {display:inline-block;margin:0 50px 0 0;vertical-align:top;} 
.basket_gift .name a {font-size:14pt;color:#23afcc;padding:25px 0 0 0;display:inline-block;vertical-align:top;}
.basket_gift .price {text-align:center;color:#80b058;font-size:12pt;font-weight:bold;padding:30px 0 0 0;} 
.basket_all_order div {float:right;}
.basket_all_order .basket_all_summa {margin:53px 55px 0 0;font-size:16pt;color:#000000;display:inline-block;vertical-align:top;}
.basket_all_order .basket_all_summa span {color:#edb60e;font-weight:bold;font-size:16pt;}
.basket_all_submit {margin:40px 0 20px 0;width:331px;display:inline-block;vertical-align:top;}
.basket_all_submit input {background:url(img/button_order.png) no-repeat;cursor:pointer;width:331px;height:54px;display:block;border:0;text-align:center;margin:0 auto;color:#fff;font-size:16pt;}
.basket_summa {margin:10px 0 0 0;float:right;display:inline-block;text-align:right;}
.basket_summa a {margin:0 0 0 25px;}
.basket_summa a:nth-child(1) {background-position:0 -110px;}
.basket_summa a:nth-child(2) {background-position:0 -70px;}
.basket_cupon {margin:0 0 10px 0;}
.basket_cupon input {width:185px;padding:5px 15px;background:#fff;color:#000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #e0e0e0;font-size:12pt;margin:10px 5px 0 25px;font-weight:bold;box-shadow:inset 2px 0 11px 0 #d5d5d5;}



/* Basket Zakaz */ 
.basket_step {background:#eeeedd;padding:35px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:0 0 2px 0;}
.basket_step div {vertical-align:top;}
.basket_step .step_name {display:inline-block;width:140px;margin:12px 0 0 0;}
.basket_step .step_name span {font-weight:bold;background:url(img/basket_step1.png) bottom no-repeat;text-transform:uppercase;color:#000;font-size:14pt;padding:0 0 45px 0;}
.basket_step .step_text {display:inline-block;width:260px;margin:0 15px 0 0;font-size:11pt;color:#3b3b3b;}
.basket_step .step_text em {font-size:10pt;}
.basket_step .step_text p, .fast_order p {font-size:11pt;margin:0 0 15px 0;}
.basket_step .step_sort {display:inline-block;}
.basket_step .step_sort p {background:url(img/basket_step.png) top left no-repeat;width:522px;height:59px;margin:12px 0 0 85px;}
.basket_step .step_sort p.selected_new {background:url(img/basket_step_50.png) top left no-repeat;width:522px;height:59px;margin:12px 0 0 85px;}
.basket_step .step_sort p a {display:inline-block;width:260px;text-align:center;text-decoration:underline;font-size:13pt;color:#000;padding:13px 0;}
.basket_step .step_sort p a.selected {text-decoration:none;}
.selected_tab {background:#f2f2f2;}
.step_form {display:inline-block;margin:10px 0 0 55px;width:410px;}
.step_form div {margin:0 0 10px 0;}
.step_form input, .step_form textarea {width:210px;resize: none;}
.step_form select {width:230px;padding:2px;}
.step_enter, .step_enter:hover {background:url(img/basket_enter.png) no-repeat;cursor:pointer;width:117px;height:30px;display:block;padding:6px 0 0 0;margin:5px 0 0 149px;border:0;text-align:center;color:#fff;font-size:11pt;text-decoration:none;display:inline-block;}
.step_remind {display:inline-block;color:#23afcc;margin:0 0 0 20px;}
.step_form .button {margin:10px 0 -15px 169px;}
.step_order {display:inline-block;color:#484848;width:205px;margin:12px 0 0 40px;}
.step_order p {margin:0 0 20px 0;}
.step_order ul {color:#f4d028;font-size:14pt;}
.step_order ul li {margin:0 0 -3px 0;}
.step_order ul li span {color:#484848;font-size:10pt;}
.next_tab {background:#d3d0b6;padding:25px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:0 0 2px 0;}
.next_tab span {font-weight:bold;background:none;text-transform:uppercase;color:#999576;font-size:14pt;padding:0;width:800px;}
.next_tab .link {float:right;}
.sostav .basket_all_submit {float:left;}
.sostav .basket_all_submit input {font-size:16pt;}
.basket_step .sostav {width:730px;}
.sostav  table {width:100%;border-collapse:collapse;color:#000;}
.sostav  table th {border-bottom:1px solid #dddddd;padding:10px 0;font-size:10pt;}
.sostav  table th:nth-child(1), .sostav  table td:nth-child(1) {text-align:left;}
.sostav  table td {text-align:center;border-left:1px solid #dddddd;}
.sostav  table td:nth-child(1) {padding:10px 10px 10px 0;width:225px;border:0;}
.sostav  table a {color:#23afcc;}
.sostav  table td textarea {width:450px;height:75px;margin:10px 0 0 0;}
.sostav .head {font-size:10pt;font-weight:bold;}
.fast_order {display:inline-block;width:350px;margin:0 0 0 10px;}
.fast_order  span {width:50px;}
.fast_order p {margin:0 0 25px 0;}
.fast_order div {font-weight:bold;color:#000;}
.captcha_img {position:absolute;margin:-8px 0 0 15px;}
.basket_step .step_text  .error_auth {color:#ff0000;font-size:9pt;}
.spasibo_head {font-weight:bold;font-size:11pt;margin:10px 0 0 0;}
.spasibo_head span {display:inline-block;width:160px;font-weight:normal;font-size:10pt;}
.spasibo_bold {font-weight:bold;font-size:12pt;}
.spasibo_sostav {border-top:1px solid #ebaf00;border-bottom:1px solid #ebaf00;margin:20px 0;padding:10px 0;}
.spasibo_sostav a {color:#26b3d9;}
.spasibo_sostav table {border-collapse:collapse;}
.spasibo_sostav  table td {padding:10px 10px 10px 0;}
.spasibo_sostav  table td:nth-child(1) {width:150px;}
.spasibo_sostav  table td:nth-child(2) {width:110px;}
.spasibo_sostav  table tr {border-top:1px solid #dddddd;}
.spasibo_sostav  table tr:nth-child(1) {border-top:0;}
.spasibo_sostav  p {font-size:11pt;}
.spasibo_sostav  p.all {font-size:10pt;margin:10px 0;}
.spasibo_sostav  p.all span {font-weight:bold;display:inline-block;width:158px;}


/* Basket NEW order */ 
.one_order {display:inline-block;margin:0;width:100%;}
.one_order .head {font-size:10pt;margin:0 0 20px 0;font-weight:bold;}
.one_order .one {vertical-align:top;display:inline-block;width:240px;margin:0 30px 20px 0;}
.one_order .two {vertical-align:top;display:inline-block;width:320px;margin:0 30px 0 0;}
.one_order .three {vertical-align:top;display:inline-block;width:520px;margin:0 0 20px 0;font-weight:normal;}
.one_order .two textarea {height:60px;}
.one_order .two  label, .one_order .three label {font-weight:normal;margin:0 5px 0 10px;cursor:pointer;}
.one_order_left {margin:10px 0 0 0;}
.one_order_left input {margin:0;padding:0;float:left;}
.one_add_text {margin:20px 0 20px 0;}
.one_add_text a {color:#24b1d1;display:block;margin:0 0 10px 0;}
.one_order .jq-selectbox__select {width: 210px;height:18px;background:#fff;color: #333;border:1px solid #d5d5d5;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:5px 10px;box-shadow:inset 2px 0 11px 0 #d5d5d5;margin:0 0 -10px 0;font:10pt Arial, sans-serif;}
.one_order  .two span, .one_order  .three span {border:1px solid #f2f2f2;display:inline-block;padding:6px 10px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin:0 10px 0 0;}
.one_order  .two .selected, .one_order  .three .selected {border:1px solid #d5d5d5;}
.one_order .three .red {color:#d54700;}
.one_order .two div.block:nth-child(1), .one_order .three div.block:nth-child(1) {height:130px;}
.one_order .three .head {margin:0 0 27px 0;}



/* Compare */ 
.compare_all {float:right;margin:-55px 350px 0 0;}
.compare {border-collapse:collapse;color:#000;margin:20px 0 0 0;}
.compare th {border-right:1px solid #dddddd;padding:10px 0;font-size:10pt;text-align:left;padding:10px 20px 10px 10px;}
.compare td {text-align:center;border-left:1px solid #dddddd;width:190px;}
.compare td:nth-child(1) {border:0;width:150px;} 
.compare .rating_1, .compare .rating_2, .compare .rating_3, .compare .rating_4, .compare .rating_5 {float:left;margin:0 0 0 65px;}
.compare .button, .compare .button:hover {background-position: 0px -34px;}
.compare_del a {display:block;width:16px;height:16px;display:inline-block;padding:0;margin:0 0 10px 0;background:url(img/cross.png) no-repeat;text-decoration:none;}



/* Filtr */
#top_filtr {background:url(img/filtr.gif)repeat;padding:15px 25px 15px 25px;margin:0 0 15px 0;}
#top_filtr .section  {vertical-align:top;display:inline-block;width:250px;} 
#top_filtr .section  p {margin:0 0 15px 0;color:#fff;font-size:12pt;}
.top_filtr_button {float:right;margin:0 20px 0 0;}
.top_filtr_button a {background:#e9e9e9 url(img/filtr_search.gif) bottom repeat-x;color:#484848;vertical-align:top;display:inline-block;padding:8px 60px;text-decoration:none;font-size:11pt;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow: 0 1px 5px #909090;}



/* Fancybox */
#fancybox-thumbs {position: fixed;left: 0;width: 100%;overflow: hidden;z-index: 8050;}
#fancybox-thumbs.bottom {bottom: 2px;}
#fancybox-thumbs.top {top: 2px;}
#fancybox-thumbs ul {position: relative;list-style: none;margin: 0;padding: 0;}
#fancybox-thumbs ul li {float: left;padding: 1px;opacity: 0.5;}
#fancybox-thumbs ul li.active {opacity: 0.75;padding: 0;border: 1px solid #fff;}
#fancybox-thumbs ul li:hover {opacity: 1;}
#fancybox-thumbs ul li a {display: block;position: relative;overflow: hidden;border: 1px solid #222;background: #111;outline: none;}
#fancybox-thumbs ul li img {display: block;position: relative;border: 0;padding: 0;max-width: none;}




/* Robokassa */
.smile {background:url(img/smile.png) no-repeat;font-size:12pt;padding:5px 0 20px 60px;margin:10px 0;}
.pay_robokassa, .pay_robokassa:hover {background:url(img/button_order1.png) no-repeat;cursor:pointer;width:331px;height:54px;display:inline-block;border:0;text-align:center;color:#fff;padding:0;font-size:14pt;text-decoration:none;margin:20px 25px 20px 0;}
.pay_cash, .pay_cash:hover {background:url(img/button_order.png) no-repeat;cursor:pointer;width:331px;height:54px;display:inline-block;border:0;text-align:center;color:#fff;padding:13px 0 0 0;font-size:14pt;text-decoration:none;}





/* Photo */
#top_photo {float:right;margin:-40px 5px 0 0;}
#top_photo span {color:#000;margin:0 10px 0 0;}
.photo_add {padding:20px;background:#edeede;margin:20px 0 10px 0;color:#585858;}
.photo_add a {float:right;}
.button_add, .button_add:hover {color:#fff;border:3px solid #418900;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;background:#66ba1a url(img/icons.png) no-repeat;background-position:12px -1682px;padding:3px 15px 5px 33px;text-decoration:none;font-size:10pt;}
.photo_gal {margin:0 0 50px -45px;}
.photo_gal div {margin:30px 0 5px 45px;vertical-align:top;display:inline-block;width:200px;}
.photo_gal div span {text-align:center;width:200px;display:block;margin:10px 0 0 0;}




/* Reviews */
.reviews div {border-top:1px solid #cccccc;padding:15px 0;}
.reviews div:nth-child(1) {border:0;}
.reviews div p {margin:0 0 5px 0;}
.reviews div span {color:#7c7c7c;}




/* Action New Year */
.action_2014 .kolokol {position:absolute;margin:-140px 0 0 680px;}
.action_2014 .podarok {font-size:12pt;margin:20px 0 50px 0;}
.action_2014 .podarok img {float:left;margin:0 20px 0 0;}
.action_2014 .podarok span, .action_2014 .data_meng span {color:#e54c00;font-weight:bold;}
.action_2014 .data {color:#d54700;font-size:18pt;margin:0 0 10px 0;}
.action_2014 .data_meng {font-size:11pt;margin:0 0 20px 0;line-height:14pt;}
.action_2014 .block {margin:0 0 20px 0;}
.action_2014 .block  .name {font-size:14pt;display:inline-block;margin:0 0 20px 0;border-bottom:1px dashed #a9a9a9;}
.action_2014 .block  .name span {color:#e54c00;}
.action_2014 .block  .price {font-size:12pt;display:inline-block;vertical-align:top;width:277px;}
.action_2014 .block  .corp {font-size:12pt;display:inline-block;vertical-align:top;width:540px;margin:-5px 0 10px 0;}
.action_2014 .block  .price span {color:#ff0000;font-size:14pt;font-weight:bold;}
.action_2014 .block  .plus {font-size:14pt;display:inline-block;margin:0 15px;vertical-align:top;}
.action_2014 .block  .dostavka {font-size:11pt;display:inline-block;vertical-align:top;background:url(img/action/podarok.png) top left no-repeat;padding:10px 0 10px 63px;margin:-20px 0 0 0;line-height:14pt;}
.action_2014 .block  .dostavka span {font-weight:bold;}
.action_2014 .block_tovar {display:inline-block;vertical-align:top;width:120px;margin:0 0 50px 0;}
.action_2014 .block_tovar .tovar a  {color:#23afcc;font-size:12pt;text-decoration:underline;display:inline-block;margin:0 0 5px 0;width:120px;white-space:nowrap;overflow: hidden;position: relative;}
.action_2014 .block_tovar .tovar i {background: url(img/right_gr.png) right repeat-y;position: absolute;display: block; height: 21px; width:120px;padding:0;}
.action_2014 .block_tovar .price em {color:#252525;font-weight:normal;font-size:11pt;text-decoration:line-through;font-style:normal;}
.action_2014 .block_tovar .price .red {color:#ff0000;font-size:11pt;}
.action_2014 .block_tovar .price {color:#e4ac00;font-weight:bold;font-size:12pt;text-align:center;}
.action_2014 .block_plus {display:inline-block;vertical-align:top;width:35px;font-size:18pt;padding:80px 0 0 0;text-align:center;}
.action_2014 .block_plus_all {display:inline-block;vertical-align:top;width:35px;font-size:18pt;padding:45px 0 0 0;text-align:center;}
.action_2014 .block_itog {display:inline-block;vertical-align:top;width:120px;}
.action_2014 .block_itog .price {color:#e4ac00;font-size:12pt;padding:55px 0 0 0;}
.action_2014 .block_itog .price em {color:#252525;display:block;font-weight:normal;font-size:14pt;text-decoration:line-through;font-style:normal;}
.action_2014 .block_itog .price span {color:#ff0000;font-size:18pt;font-weight:bold;display:block;margin:0 0 20px 0;}
.action_2014 .block_itog .price .button {display:block;margin:-10px 0 0 0;width:90px;text-align:center;padding:6px 25px 5px 25px;height:20px;}
.action_2014 .plashka {position:absolute;}





/* Forms styles  */
.jq-checkbox {
	top: -1px;
	width: 13px;
	height: 13px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
	background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) repeat-x;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	vertical-align: middle;
	cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
	width: 9px;
	height: 9px;
	margin: 2px 0 0 2px;
	border-radius: 2px;
	background: #666;
	box-shadow: inset 0 -3px 6px #AAA;
}
.jq-checkbox.focused {
	border: 1px solid #08C;
}
.jq-checkbox.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}


.jq-radio {
	width: 12px;
	height: 12px;
	border: 1px solid #C3C3C3;
	border-radius: 50%;
	background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	vertical-align: middle;
	cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
	width: 6px;
	height: 6px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	background: #666;
}
.jq-radio.focused {
	border: 1px solid #08C;
}
.jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}


.jq-file {
	width: 270px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 4px;
}
.jq-file input {
	cursor: pointer;
	height: auto;
	line-height: 1em;
}
.jq-file__name {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	padding: 0 80px 0 10px;
	color: #333;
	font: 14px/30px Arial, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1;
	background: #FFF;
}
.focused .jq-file__name {
	border: 1px solid #5794BF;
}
.jq-file__browse {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 0 10px;
	border-left: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
	background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	text-shadow: 1px 1px #FFF;
	font: 14px/30px Arial, sans-serif;
}
.jq-file:hover .jq-file__browse {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
.jq-file:active .jq-file__browse {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.disabled .jq-file__name {
	color: #888;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}


.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 30px;width: 180px;
	padding: 0 10px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 10px;
	background: #F5F5F5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	text-shadow: 1px 1px #FFF;
	font: 14px/30px Arial, sans-serif;
}
.jq-selectbox__select:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.jq-selectbox__dropdown {
	top: 33px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #58b8d1;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


.jq-select-multiple {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #333;
	font: 14px/18px Arial, sans-serif;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}


input[type="email"].styler,
input[type="number"].styler,
input[type="password"].styler,
input[type="search"].styler,
input[type="tel"].styler,
input[type="text"].styler,
input[type="url"].styler,
textarea.styler {
	padding: 7px 9px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	font: 14px Arial, sans-serif;
}
input[type="search"].styler {
	-webkit-appearance: none;
}
textarea.styler {
	overflow: auto;
}
input[type="email"].styler:hover,
input[type="number"].styler:hover,
input[type="password"].styler:hover,
input[type="search"].styler:hover,
input[type="tel"].styler:hover,
input[type="text"].styler:hover,
input[type="url"].styler:hover,
textarea.styler:hover {
	border-color: #B3B3B3;
}
input[type="email"].styler:focus,
input[type="number"].styler:focus,
input[type="password"].styler:focus,
input[type="search"].styler:focus,
input[type="tel"].styler:focus,
input[type="text"].styler:focus,
input[type="url"].styler:focus,
textarea.styler:focus {
	border-color: #CCC;
	border-top-color: #B3B3B3;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	outline: none;
}
button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
	overflow: visible;
	padding: 7px 11px;
	outline: none;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	text-shadow: 1px 1px #FFF;
	font: 14px Arial, sans-serif;
	cursor: pointer;
}
button.styler::-moz-focus-inner,
input[type="button"].styler::-moz-focus-inner,
input[type="submit"].styler::-moz-focus-inner,
input[type="reset"].styler::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button.styler:after {
	content: '';
}
button.styler:not([disabled]):hover,
input[type="button"].styler:not([disabled]):hover,
input[type="submit"].styler:not([disabled]):hover,
input[type="reset"].styler:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
button.styler:not([disabled]):active,
input[type="button"].styler:not([disabled]):active,
input[type="submit"].styler:not([disabled]):active,
input[type="reset"].styler:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
button.styler[disabled],
input[type="button"].styler[disabled],
input[type="submit"].styler[disabled] {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}






/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
.button_on {float:left;} 
.button_off {float:right;} 
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#c9c9c9;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; top:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

#inline_content {padding:35px 45px 15px 45px;}
#inline_content .button_head {font:16pt Times New Roman, sans-serif;margin:0 0 20px 0;}
#inline_content p {margin:0 0 10px 0;} 
#inline_content span {display:block;border-top:1px dashed #cccccc;margin:25px 0 0 0;padding:25px 0 0 0;}
#inline_content p a, #inline_content  div a {color:#25b1d3;}





/* Styles for Androind */

#smartbanner { position:absolute; left:0; top:-82px; border-bottom:1px solid #e8e8e8; width:100%; height:78px; font-family:'Helvetica Neue',sans-serif; background:-webkit-linear-gradient(top, #f4f4f4 0%,#cdcdcd 100%); background-image: -ms-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); background-image: -moz-linear-gradient(top, #F4F4F4 0%, #CDCDCD 100%); box-shadow:0 1px 2px rgba(0,0,0,0.5); z-index:9998; -webkit-font-smoothing:antialiased; overflow:hidden; -webkit-text-size-adjust:none; }
#smartbanner, html.sb-animation {-webkit-transition: all .3s ease;}
#smartbanner .sb-container { margin: 0 auto; }
#smartbanner .sb-close { position:absolute; left:5px; top:5px; display:block; border:2px solid #fff; width:14px; height:14px; font-family:'ArialRoundedMTBold',Arial; font-size:15px; line-height:15px; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:14px; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }
#smartbanner .sb-close:active { font-size:13px; color:#aaa; }
#smartbanner .sb-icon { position:absolute; left:30px; top:10px; display:block; width:57px; height:57px; background:rgba(0,0,0,0.6); background-size:cover; border-radius:10px; box-shadow:0 1px 3px rgba(0,0,0,0.3); }
#smartbanner.no-icon .sb-icon { display:none; }
#smartbanner .sb-info { position:absolute; left:98px; top:18px; width:44%; font-size:11px; line-height:1.2em; font-weight:bold; color:#6a6a6a; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
#smartbanner #smartbanner.no-icon .sb-info { left:34px; }
#smartbanner .sb-info strong { display:block; font-size:13px; color:#4d4d4d; line-height: 18px; }
#smartbanner .sb-info > span { display:block; }
#smartbanner .sb-info em { font-style:normal; text-transform:uppercase; }
#smartbanner .sb-button { position:absolute; right:20px; top:24px; border:1px solid #bfbfbf; padding: 0 10px; min-width: 10%; height:24px; font-size:14px; line-height:24px; text-align:center; font-weight:bold; color:#6a6a6a; background:-webkit-linear-gradient(top, #efefef 0%,#dcdcdc 100%); text-transform:uppercase; text-decoration:none; text-shadow:0 1px 0 rgba(255,255,255,0.8); border-radius:3px; box-shadow:0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(255,255,255,0.7) inset; }
#smartbanner .sb-button:active, #smartbanner .sb-button:hover { background:-webkit-linear-gradient(top, #dcdcdc 0%,#efefef 100%); }

#smartbanner .sb-icon.gloss:after { content:''; position:absolute; left:0; top:-1px; border-top:1px solid rgba(255,255,255,0.8); width:100%; height:50%; background:-webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); border-radius:10px 10px 12px 12px; }

#smartbanner.android { border-color:#212228; background: #3d3d3d url('img/dark_background_stripes.gif'); border-top: 5px solid #88B131; box-shadow: none; }
#smartbanner.android .sb-close { border:0; width:17px; height:17px; line-height:17px; color:#b1b1b3; background:#1c1e21; text-shadow:0 1px 1px #000; box-shadow:0 1px 2px rgba(0,0,0,0.8) inset,0 1px 1px rgba(255,255,255,0.3); }
#smartbanner.android .sb-close:active { color:#eee; }
#smartbanner.android .sb-info { color:#ccc; text-shadow:0 1px 2px #000; }
#smartbanner.android .sb-info strong { color:#fff; }
#smartbanner.android .sb-button { min-width: 12%; border:1px solid #DDDCDC; padding:1px; color:#d1d1d1; background: none; border-radius: 0; box-shadow: none; }
#smartbanner.android .sb-button span { text-align: center; display: block; padding: 0 10px; background-color: #42B6C9; background-image: -webkit-gradient(linear,0 0,0 100%,from(#42B6C9),to(#39A9BB)); background-image: -moz-linear-gradient(top,#42B6C9,#39A9BB); text-transform:none; text-shadow:none; box-shadow:none; }
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover { background: none; }
#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span { background:#2AC7E1; }

#smartbanner.windows .sb-icon { border-radius: 0px; }