a {
	box-sizing:initial;
}

.navbar-nav > li > .dropdown-menu {
    padding: 5px 0px 15px;
min-width: 170px;
box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.41);
border-radius: 0px 0px 10px 10px;
opacity: 0.95;
background: transparent linear-gradient(to bottom, #E3B700 0%, #E38C00 100%) repeat scroll 0% 0%;
}




body .navbar-default .b-menu {
    padding: 0px;
}

body .navbar-default .b-menu li:nth-child(1) a, body .navbar-default .b-menu li:nth-child(1) a:hover {
    background: transparent none repeat scroll 0% 0%;
}

body .navbar-default .b-menu li:nth-child(1) a.root-item {
    background: transparent none repeat scroll 0% 0%;
}

body .navbar-default .b-menu li:hover a.root-item {
    color: #FCCE2F;    
}

body .navbar-default .b-menu li a.selected {
    color: #FCCE2F;
background: transparent url("../img/header_menu.png") no-repeat scroll left center;
}

body .navbar-default .b-menu li a {
    color: #FFF;
font-size: 12pt;
}

body .navbar-default .b-menu li ul li a:hover {
    color: #E04A00;
}

body .navbar-default .b-menu li ul li {
    float: none;
    display: inline;
    text-transform: none;
    margin: 0px;
    padding: 0px;
}

body .navbar-default .b-menu li ul li:nth-child(1) a {
    border: 0px none;
    padding: 10px 0px;
    margin: 0px 20px;
}

body .navbar-default .b-menu li ul li a {
    width: auto;
    background: transparent none repeat scroll 0% 0%;
    padding: 10px 0px;
    margin: 0px 20px;
    color: #FFF;
    text-decoration: none;
    font-size: 11pt;
    border-top: 1px solid #FBD789;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: initial;
}

.navbar #search {
    border-radius: 10px;
background: #FFF url("../img/top_search.gif") repeat-x scroll center bottom;
}

.navbar {
	background: #E44C00 url("../img/menu.gif") repeat-x scroll center top;
}

    .top_time {
    	display:none;
    }


@media screen and (min-width: 1300px) {
    .container {
        width: 1300px;
    }

    .col-md-3 {
    width: 20%;
    }

    .col-md-9 {
    width: 80%;
    }

    .top_time {
        display:block;
    }


}

@media screen and (min-width: 1280px) {

    .navbar {
border-radius: 10px;
min-height: initial;
    }

    body .navbar-default .b-menu {
    	margin-left: -32px;
    }

    .navbar #search {
float: right;
margin: 3px 0px 0px 0px;
    }

    body .navbar-default .b-menu li ul {
    	margin: -1px 0px 0px;
    }

}


@media screen and (min-width: 768px) {

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    body .navbar-default .b-menu li a {
    margin: 12px 0px;
    padding: 0px 14px 0px 18px;
    background: transparent url("../img/header_menu.png") no-repeat scroll left center;
    }

}

@media (max-width: 767px) {
    body .navbar-default .navbar-nav .open .dropdown-menu>li>a { 
        color: #FFF;
    }

    body .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #E04A00;
    }


    .forma_input {
            width: 90%;
    }

    .forma_submit {
        float: right;
        width: 10%;
    height: 22px;
    background-position: 12px -292px;
    }
}